aws_region  = "ap-northeast-1"
root_domain = "example.com"
vpc_cidr    = "10.20.0.0/16"

azs = [
  "ap-northeast-1a",
  "ap-northeast-1c",
]

public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24",
]

private_subnet_cidrs = [
  "10.20.10.0/24",
  "10.20.11.0/24",
]

ecr_repository_prefix = "enm"
ecr_repository_names  = ["backend", "frontend"]

create_hosted_zone      = true
existing_hosted_zone_id = null
