name: workflow-lint

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches:
      - main
      - dev
    paths:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest

    steps:
      - name: チェックアウト
        uses: actions/checkout@v4

      - name: actionlint 実行
        uses: rhysd/actionlint@v1
